*{
    font-family: 'Red Hat Display', sans-serif;
}

.backdrop{
background-image:url(./images/pattern-background-desktop.svg);
background-repeat: no-repeat;
background-color:#e0e8ff;
padding:50px;
}

.container{
    width: 320px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.image{
    width: 320px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.font1{
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: -2px;
    font-style: bold;
}

.font2{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    color: #8898b9;
    text-align: center;
    font-size: 13px;
}

.smallcontainer{
    background-color:#f8f9fe;
    width: 75%;
    height: 45px;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    margin: auto; 
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 16px;
}

.musicicon{
    width: 32px;
    height: 32px;
    margin-top: 0px;
}

.item{
    margin-left: -22px;
    margin-bottom:0px;
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(36, 34, 34);
}

.price{
    margin-top:2px;
    margin-left: -22px;
    font-size: 12px;
    color: #b0b5c0;
    
}

.change{
    text-decoration: underline;
    font-size: 12px;
    color: #766cf1;
}
.change:hover{
    font-size: 9px;
    padding-top: 5px;
    color: #766cf1;
    font-style: bold;
    cursor: pointer;
    text-decoration: none;
}

.lastcontent{
    text-align: center;
    height: 40px;
    margin-top: 30px;
    width: 80%;
    margin: auto;
    font-size: 13px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;



}
   
/* .last1{
    width: 100%;
    margin: auto;
} */

.last1, .last2{
    width: 100%;
}

.last1:hover{
    background-color: #766cf1;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 15px #766cf1;
    color: white;
    cursor: pointer;
    
   
}

.last2:hover{
    background-color: #766cf1;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom:10px ;
    box-shadow:0px 5px 15px #766cf1;
    color: white;
    cursor: pointer;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}
